page-welcome {
  #welcome {
    background: color($colors, energy);
  }
  h1 {
    font-size: 50px;
    text-align: center;
  }
  h4 {
    text-align: center;
  }
  .marginTop {
    margin-top: 150px;
  }
}
